# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ConsoleTest/.vs/ConsoleTest/v15/ipch/2ee9e672b7277ddc.ipch
ConsoleTest/.vs/ConsoleTest/v15/Browse.VC.opendb
ConsoleTest/.vs/ConsoleTest/v15/Browse.VC.db
ConsoleTest/.vs/ConsoleTest/v15/.suo
*.tlog
*.idb
*.pdb
*.ilk
*.db
RegexSample/.vs/RegexSample/v15/.suo
*.db
